@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.source-body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    flex-direction: column;
    margin-top: 0;
    color: #3e978b;
    font-family: 'Libre Baskerville', serif;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;
}

.source-body p {
    padding: 2px;
}

.page-container {
    padding: 30px;
    margin-bottom: 60px;
    background-color: #D7D7D7;
    border-radius: 6px;
    
}
pre{
    white-space: pre-wrap; 
    word-wrap: break-word;
}

.title-container {
    margin-top: 60px;
    margin-bottom: 40px;
}

.page-title {
    text-align: center;
    margin-bottom: 40px;
}

.nice-code {
    font-family: 'Fira Code', monospace;
    font-size: small;
    color: #565d47;
}

/* Footer -----------*/
.back-home {
    /* background-color: #f5f1da; */
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    text-align: center;
}

.back-button {
    border: 1px solid #dadce0;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 15px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.back-button:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.37);
    cursor: pointer;
}
